body {
	font-size: 100%;
	font-family: Arial;
}

.primary {
	background: #03a9f4;
	color: #ffffff;
}

.primary-dark {
	background: #455ede;
	color: #ffffff;
}

.primary-light {
	background: #40c4ff;
	color: #ffffff;
}

div.form {
	padding: 5px 15px 5px 15px;
	border: 1px solid;
	border-radius: 5px;
	display: inline-block;
}

.in-form {
	margin-top: 5px;
	margin-bottom: 5px;
}

div.post {
    margin: 0 auto;
	padding: 0.5px 0.5px 0.5px 0.5px;
	max-width: 650px;
	border: 1px solid;
	border-radius: 10px;
	border-color: #5F9EA0;
	overflow:auto;
	height:auto;
}

p.title {
	font-family: Consolas, monaco, monospace;
	font-size: 1.5em;
	font-style: bold;
	text-align: center;
	color: RoyalBlue;
}

p.post {
	font-family: Consolas, monaco, monospace;
	font-size: 1em;
	text-align: left;
	padding: 0px 15px 0px 15px;
	font-weight: 400;

	/* to wrap long unbroken strings */ 
	word-wrap: break-word;      /* IE */
}

textarea {
	resize: none;
}

a {
	font-size: 1.2em;
	color: #031e8a;
}

a:hover {
	color: #6181ff;
}

.btn {
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	border-style: none; /* make button flat */
	font-family: Arial;
	font-size: 1.2em;
  	padding: 10px 15px 10px 15px;
}

.btn:hover {
  background: #71d1de;
  text-decoration: none;
}


/* news item and replies */

div.news-item {
	margin: 0 auto;
	padding: 5px 15px 5px 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 50%;
	border: 1px solid;
	border-radius: 5px;
	overflow:auto;
	height:auto;
}

div.reply {
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.poster-info {
}

p.poster-name {
	font-size: 1.1em;
	font-style: bold;
	color: #455ede;
	display: inline-block;
	margin-right: 15px;
}

p.poster-email {
	font-size: 1.1em;
	font-style: bold;
	color: #615fde;
	display: inline-block; /* to position element horizontally */
}

div.poster-body {
}

div.poster-other {
}

