body {
	font-size: 100%;
}

div.post {
    margin-top: 10px;
    margin: 0 auto;
	padding: 0.5px 0.5px 0.5px 0.5px;
	max-width: 650px;
	border: 1px solid;
	border-radius: 10px;
	border-color: #5F9EA0;
	overflow:auto;
	height:auto;
}

p.title {
	font-family: Consolas, monaco, monospace;
	font-size: 2.0em;
	font-style: bold;
	text-align: center;
	color: RoyalBlue;
}

p.post {
	font-family: Consolas, monaco, monospace;
	font-size: 1em;
	text-align: left;
	padding: 0px 15px 0px 15px;
	font-weight: 400;

	/* to wrap long unbroken strings */ 
	word-wrap: break-word;      /* IE */
}

textarea#news {
	resize: none;
    rows: 5;
    cols: 20;
}